title {
  background-color: blanchedalmond;
  color:blueviolet;
  font-size: x-large;
  text-align: center;
}

h1 {
  color:aqua;
  font-size: large;
  text-align: middle;
}

p {
  color:brown;
  text-align: right;
}

#idk {
  background-color: black;
  color: green;
  font-size: medium;
  text-align :center;
}