.h1 {
  background-color: black;
  color:aqua;
  font-size: x-large;
  text-align: center;
}

.p {
  color:red;
  text-align: right;
}

#my-header {
  background-color: rgb(255, 165, 0);
  color: hsl(147,50%, 47%);
  padding: 40px;
  text-align: center;
}